@import url(/resources/css/main.css);

/*--------------------------------------------------------------
# Pricing Section
--------------------------------------------------------------*/
.pricing {
  padding: 150px 0 60px 0;

  .section-title {
    text-align: center;
  }

  .section-title p {
    padding: 0;
  }
}

.form-check-input:checked {
  background-color: var(--accent-color);
  border-color: var(--accent-color-dark);
}

.form-check-input:focus {
  border-color: var(--accent-color-dark);
  box-shadow: none;
}

.form-switch .form-check-input:focus {
}

.price-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 0 50px 0;

  label {
    margin: 0;
    font-size: 25px;
  }

  .form-check-input {
    width: 80px;
    height: 40px;
  }
}

/*--------------------------------------------------------------
# Pricing Section
--------------------------------------------------------------*/
.pricing .pricing-item {
  background-color: var(--surface-color);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--accent-color);
}

.pricing .pricing-item > h3,
.pricing .pricing-item > .recommend {
  font-weight: 400;
  margin: -30px -30px 30px -30px;
  text-align: left;
  padding: 20px 30px;
  font-size: 24px;
  font-weight: 800;
}

.pricing .pricing-item > .recommend > h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 800;
  > span {
    font-size: 16px;
    font-weight: 400;
  }
}

.pricing .pricing-item > .recommend {
  background-color: var(--accent-color);
}

.pricing .pricing-item > h3 {
  background-color: #eafff3;
}

.pricing .reco-tab {
  border: 3px solid var(--accent-color);
  transform: scale(1.05);
}

.pricing .pricing-item h4 {
  text-align: left;
  font-size: 48px;
  font-weight: 800;
  font-family: var(--heading-font);
}

.pricing .pricing-item h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing .pricing-item h4 span {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  font-size: 18px;
  font-weight: 300;
}

.pricing .reco-tab .btn-buy {
  background-color: var(--accent-color-dark-2);
  color: white;
}

.pricing .recommend {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .reco-txt {
    font-size: 16px;
    font-weight: 400;

    > span {
      background-color: #ffffff;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
}

.pricing .pricing-item ul {
  padding: 8px 0;
  list-style: none;
  text-align: left;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 0;
}

.pricing .pricing-item ul li {
  padding-bottom: 16px !important;
  color: #071e16;
  display: flex;
  align-items: center;
  gap: 5px;
}

.pricing .pricing-item ul i {
  color: var(--heading-color);
  font-size: 18px;
  padding-right: 4px;
}

.pricing .pricing-item ul .na, .pricing .pricing-item ul .na>i {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  text-decoration: line-through;
}

.pricing .btn-wrap {
  /* background: color-mix(in srgb, var(--default-color), transparent 95%);
  margin: 0 -20px -20px -20px;
  padding: 20px 15px; */
  text-align: center;
  margin: 20px auto;
}

.pricing .btn-buy {
  color: var(--accent-color-dark-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 35px 10px 35px;
  border: 3px solid var(--accent-color-dark-2);
  border-radius: 10px;
  transition: none;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--heading-font);
  font-weight: 600;
  transition: 0.3s;
  width: 100%;
}

.pricing .btn-buy:hover {
  background: var(--heading-color);
  color: white;
  border-color: var(--heading-color);
}

.pricing .featured h3 {
  background: var(--accent-color);
  color: var(--contrast-color);
}

.pricing .advanced {
  background: var(--accent-color-dark-2);
  color: var(--contrast-color);
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
}

/*--------------------------------------------------------------
  # SWITCH STYLES
  --------------------------------------------------------------*/
.hide {
  display: none;
}

.price-tab {
  padding-bottom: 20px;
  font-size: 35px;
  font-weight: 500;
  color: var(--accent-color-dark);
  span {
    font-size: 20px;
    color: white;
    font-weight: 300;
  }
}

.switch-wrapper {
  position: relative;
  display: inline-flex;
  padding: 5px;
  /* border: 1px solid var(--accent-color-dark); */
  border-radius: 30px;
  background: #efefef;
  gap: 5px;
}

.switch-wrapper a.active {
  background-color: var(--accent-color-dark-2);
  color: white;
  font-weight: 600;
}

.switch-wrapper a {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 0 20px;
  z-index: 1;
  min-width: 120px;
  line-height: 50px;
  cursor: pointer;
  color: var(--default-color);
  border-radius: 30px;
  transition: color 0.25s ease-in-out;
}

.switch-wrapper a:hover {
  /* background: var(--accent-color); */
}

.switch-wrapper .highlighter {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(50% - 4px);
  height: calc(100% - 8px);
  border-radius: 30px;
  background: var(--accent-color);
  transition: transform 0.25s ease-in-out;
}

/*--------------------------------------------------------------
  # SWITCH STYLES
  --------------------------------------------------------------*/

  @media (max-width: 990px) {
    .pricing .reco-tab{
      transform: none;
    }
  }